<project name="BuildConfig" xmlns:artifact="urn:maven-ant">
  <!-- Load Maven Ant task -->
  <typedef uri="urn:maven-ant"
	   classpath="lib/maven-ant-tasks-2.1.3.jar"
	   resource="org/apache/maven/artifact/ant/antlib.xml"/>  
  <!-- set pom file and dependencies -->
  <artifact:pom id="mypom" file="pom.xml"/>
  <artifact:dependencies pathId="MAVEN_DEPS" pomRefId="mypom" />  
  <!-- set project layout -->
  <property name="SRC_DIR" location="src"/>
  <property name="JAVA_DIR" location="${SRC_DIR}"/>
  <property name="BIN_DIR" location="target"/>
  <property name="CLASS_DIR" location="${BIN_DIR}/classes"/>
  <property name="DOC_DIR" location="${BIN_DIR}/javadoc"/>
  <property name="JAR_DIR" location="${BIN_DIR}/"/>
  <!-- Define Maven coordinates -->
  <property name="GROUP_ID" value="${mypom.groupId}"/>
  <property name="ARTIFACT_ID" value="${mypom.artifactId}"/>
  <property name="VERSION" value="${mypom.version}"/>
  <!-- Define target jar files -->
  <property name="CLASS_JAR" value="${BIN_DIR}/${ARTIFACT_ID}-${VERSION}.jar"/>
  <property name="JAVA_JAR" value="${BIN_DIR}/${ARTIFACT_ID}-${VERSION}-sources.jar"/>
  <!-- Misc properties -->
  <property name="JAVA_VERSION" value="1.8"/>
</project>
